{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="NECOMA| The Best Network Configuration Manager"
    />
    <meta
      name="author"
      content="Wanga Evans"
    />
    <title>Necoma</title>
    <!-- Custom fonts for this template-->
    <link
      href="{% static 'fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="shortcut icon" href="{% static "/image/dice.png" %}" type="image/x-icon">

    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Custom styles for this template-->
    <link
      href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"/>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
  </head>
  <style>
    .spinner-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99999 !important;
    }
  
    .spinner-content {
      text-align: center;
      z-index: 100 !important;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .spinner-border {
      width: 3rem;
      height: 3rem;
    }
  
    .hidden {
      display: none !important;
    }
  
   
  </style>
  <body id="page-top">
    <!-- Spinner Start -->
    {% comment %} <div
    id="spinner"
    class=" bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div
      class="spinner-border d-grid position-relative text-color"
      style="width: 6rem; height: 6rem"
      role="status"
    >
  </div>
    <i
      class="fa fa-dice fa-2x text-color position-absolute top-50 start-50 translate-middle"
    ></i>
  </div> {% endcomment %}
  <!-- Spinner End -->
    <!-- Page Wrapper -->
    <div
      id="wrapper"
    >
      <!-- Sidebar -->
      <ul
        class="navbar-nav top-0 sticky-top h-100 bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Logo -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href=""
        >
          <div class="sidebar-brand-icon w-14 h-14 rotate-n-15">
            <i class="fas fa-dice"></i>
            {% comment %} <img class="w-100 h-100 object-fit-cover" src="{%
            static "/image/dice.png" %}" alt="" srcset=""> {% endcomment %}
          </div>
          <div class="sidebar-brand-text mx-3">NECOMA</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0" />
        <!-- Nav Item - Dashboard -->
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a
            class="nav-link {% if request.path == '/' %}active{% endif %}"
            href="/"
          >
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- Heading -->
        <div class="sidebar-heading">Devices</div>
        <!-- Nav Item - Manage Collapse Menu -->
        <li
          class="nav-item {% if request.path == '/connect-to-device' or request.path == '/vendors' or request.path == '/admin/auth/user/' %}active{% endif %}"
        >
          <a
            class="nav-link collapsed {% if request.path == '/connect-to-device' or request.path == '/vendors' or request.path == '/admin/auth/user/' %}active{% endif %}"
            href="#"
            data-toggle="collapse"
            data-target="#collapseManage"
            aria-expanded="true"
            aria-controls="collapseManage"
          >
            <i class="fas fa-fw fa-server"></i>
            <span>Manage</span>
          </a>
          <div
            id="collapseManage"
            class="collapse {% if request.path == '/connect-to-device' or request.path == '/vendors' or request.path == '/admin/auth/user/' %}show{% endif %}"
            aria-labelledby="headingManage"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Devices</h6>
              <a
                class="collapse-item {% if request.path == '/connect-to-device' %}active{% endif %}"
                href="/connect-to-device"
                >Add New Device</a
              >
              <a
                class="collapse-item {% if request.path == '/vendors' %}active{% endif %}"
                href="/vendors"
                >Devices List</a
              >
              <a
                class="collapse-item {% if request.path == '/admin/auth/user/' %}active{% endif %}"
                href="/admin/auth/user/"
                >Administration</a
              >
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />
        <!-- Heading -->
        <div class="sidebar-heading">Tools</div>
        <!-- Nav Item - Cisco Command -->
        <li
          class="nav-item {% if request.path == '/configure-devices' %} active {% endif %}"
        >
          <a
            class="nav-link {% if request.path == '/configure-devices' %}active{% endif %}"
            href="/configure-devices"
          >
            <i class="fas fa-fw fa-terminal"></i>
            <span>Configure</span>
          </a>
        </li>
        <!-- Nav Item - Backup-->
        {% comment %} <li
          class="nav-item {% if request.path == '/schedule-backup' %} active {% endif %}"
        >
          <a
            class="nav-link {% if request.path == '/schedule-backup' %}active{% endif %}"
            href="/schedule-backup"
          >
            <i class="fas fa-fw fa-terminal"></i>
            <span>Backup</span>
          </a>
        </li> {% endcomment %}
        <!-- Nav Item - System -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseSystem"
            aria-expanded="true"
            aria-controls="collapseSystem"
          >
            <i class="fas fa-fw fa-cog"></i>
            <span>System</span>
          </a>
          <div
            id="collapseSystem"
            class="collapse {% if request.path == '' %}show{% endif %}"
            aria-labelledby="headingSystem"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Set</h6>
              <a
                id="system-link"
                class="collapse-item {% if request.path == '/' %}active{% endif %}"
                href="#"
                >Reload</a
              >
            </div>
          </div>
        </li>
        <!-- Nav Item - Backup -->
        <li
          class="nav-item {% if request.path == '/backups' %}active{% endif %}"
        >
          <a
            class="nav-link {% if request.path == '/backups' %}active{% endif %}"
            href="/backups"
          >
            <i class="fas fa-fw fa-database"></i>
            <span>Backup History</span>
          </a>
        </li>
        <!-- Nav Item - Log Activity -->
        <li class="nav-item {% if request.path == '/logs' %}active{% endif %}">
          <a
            class="nav-link {% if request.path == '/logs' %}active{% endif %}"
            href="/logs"
          >
            <i class="fas fa-fw fa-table"></i>
            <span>Logs</span>
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button
            class="rounded-circle border-0"
            id="sidebarToggle"
          ></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div
        id="content-wrapper"
        class="d-flex flex-column"
      >
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar sticky-top top-0 navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item no-arrow mx-1">
                <a
                    class="nav-link"
                    href="/connect-to-device"
                    id="alertsDropdown"
                    role="button">
                    <i class="fas fa-plus fa-fw"></i>
                </a>
            </li>
            <li class="nav-item no-arrow mx-1">
                <a
                    class="nav-link"
                    href="/admin/auth/user/"
                    id="alertsDropdown"
                    role="button">
                    <i class="fas fa-users fa-fw"></i>
                </a>
            </li>
              <div class="topbar-divider d-none d-sm-block"></div>
              
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >{{request.user|upper}}</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="{% static 'image/man.png' %}"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  {% comment %}
                  <a
                    class="dropdown-item"
                    href="#"
                  >
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  {% endcomment %}
                  <a
                    class="dropdown-item"
                    href="/profile-settings"
                  >
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>

                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->
          <!-- Begin Page Content -->
          <div class="container  container-fluid px-2 py-0 px-md-4 py-md-0">
            {% for message in messages %}
            <div
                class="alert {{ message.tags }} alert-dismissible shadow fade show"
                role="alert">
                <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
            </div>
            {% endfor %} {% block content %} {% endblock %}
        </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>&copy; NECOMA 2024</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a
      class="scroll-to-top rounded"
      href="#page-top"
    >
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="LogoutModal"
      aria-hidden="true"
    >
      <div
        class="modal-dialog"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
            >
              Ready to Leave?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a
              class="btn btn-primary"
              href="/accounts/logout"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Device Modal -->
    <div
      class="modal fade"
      id="deleteDeviceModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteDeviceModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="deleteDeviceModalLabel"
            >
              Ready to Delete?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Delete" below if you are ready to delete the device.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <form
              id="deleteDeviceForm"
              method="POST"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="device_id"
                id="device_id"
                value=""
              />
              <button
                class="btn btn-danger"
                type="submit"
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Rollback Configuration Modal -->
    <div
      class="modal fade"
      id="confirmRollbackModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="confirmRollbackModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="confirmRollbackModalLabel"
            >
              Ready to Rollback?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Rollback" below if you are ready to Rollback the configuration.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <form
              id="rollbackForm"
              method="POST"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="device_id"
                id="device_id"
                value=""
              />
              <button
                class="btn btn-danger"
                type="submit"
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

<!-- Rollback Confirmation Modal -->
<div class="modal fade" id="rollbackModal" tabindex="-1" role="dialog" aria-labelledby="rollbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="rollbackModalLabel">Confirm Rollback</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p class="mb-0">Are you sure you want to rollback to the selected version?</p>
              <p class="mt-3 mb-0"><strong>Selected version:</strong></p>
              <p class="text-primary font-weight-bold" id="selectedVersion"></p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="confirmRollbackBtn">Confirm Rollback</button>
          </div>
      </div>
  </div>
</div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <!-- Add this script before the closing body tag -->
    <script> 
      document.addEventListener("DOMContentLoaded", function () {
      // Create spinner element
    const spinner = document.createElement('div');
    spinner.innerHTML = `
      <div id="spinner" class="spinner-overlay">
        <div class="spinner-content">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    `;
    document.body.appendChild(spinner);

    const spinnerElement = document.getElementById("spinner");

    // Function to show the spinner
    function showSpinner() {
      spinnerElement.style.display = 'flex';
    }

    // Function to hide the spinner
    function hideSpinner() {
      spinnerElement.style.display = 'none';
    }

    // Show spinner when the page starts loading
    showSpinner();

    // Hide spinner when the page finishes loading
    window.addEventListener("load", hideSpinner);

    // Show spinner before unloading the page
    window.addEventListener("beforeunload", showSpinner);
        document
          .getElementById("system-link")
          .addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default link behavior
            showSpinner();
            location.reload(); // Reload the page
          });
      });
      document.body.addEventListener("click", function (event) {
        const target = event.target.closest("a");
        if (target && target.href && target.href.startsWith(window.location.origin)) {
          showSpinner();
        }
      });
  
      // Handle form submissions
      document.body.addEventListener("submit", function (event) {
        showSpinner();
      });

      // Delete Device Modal
      $("#deleteDeviceModal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var deviceId = button.data("device-id"); // Extract info from data-* attributes
        var modal = $(this);
        modal.find(".modal-body #device_id").val(deviceId);
        var formAction =
          "{% url 'delete_device' '00000000-0000-0000-0000-000000000000' %}".replace(
            "00000000-0000-0000-0000-000000000000",
            deviceId
          );
        modal.find("#deleteDeviceForm").attr("action", formAction);
      });
      
     // Update the selected version in the modal
     document.getElementById('versionSelect').addEventListener('change', function() {
      var selectedText = this.options[this.selectedIndex].text;
      document.getElementById('selectedVersion').textContent = selectedText;
  });

  // Initialize the selected version when the page loads
  document.addEventListener('DOMContentLoaded', function() {
      var select = document.getElementById('versionSelect');
      var selectedText = select.options[select.selectedIndex].text;
      document.getElementById('selectedVersion').textContent = selectedText;
  });

  // Submit form when the Confirm Rollback button is clicked
  document.getElementById('confirmRollbackBtn').addEventListener('click', function() {
      document.getElementById('rollbackForm').submit();
    });

    </script>
    
  </body>
</html>
