{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Configure {{device.username}} - {{device.ip}}</h1>
    <form method="post" class="row g-3 justify-content-center" id="configForm">
        {% csrf_token %}
        <div class="col-md-8">
            {{ form|crispy }}
        </div>
        <div class="col-md-8 text-center d-flex justify-content-end">
            <button type="button" class="btn btn-danger mr-2" id="clearConfigBtn">Clear</button>
            <button type="submit" class="btn btn-primary mr-2" id="applyConfigBtn" disabled>Apply Configuration</button>
        </div>
    </form>
</div>

<script src="{% static "js/jquery-3.5.1/jquery.min.js" %}"></script>
<script>
    $(document).ready(function() {
        // Initially hide the label and field for Configuration File
        $('#id_config_file').prev('label').hide();
        $('#id_config_file').hide();

        // Check if there's any stored configuration in local storage and populate the form fields
        var storedConfig = localStorage.getItem('config');
        if (storedConfig) {
            $('#id_commands').val(storedConfig);
        }

        // Function to check if the form is valid and enable/disable the Apply Configuration button
        function checkFormValidity() {
            var commandOrFile = $('#id_command_or_file').val();
            var commands = $('#id_commands').val().trim();
            var configFile = $('#id_config_file').val();

            if ((commandOrFile === 'command' && commands !== '') || 
                (commandOrFile === 'file' && configFile !== '')) {
                $('#applyConfigBtn').prop('disabled', false);
            } else {
                $('#applyConfigBtn').prop('disabled', true);
            }
        }

        // Update local storage and check form validity whenever there's a change in the form fields
        $('#configForm').on('change keyup', function() {
            var config = $('#id_commands').val();
            localStorage.setItem('config', config);
            checkFormValidity();
        });

        // Clear configuration stored in local storage when the clear button is clicked
        $('#clearConfigBtn').click(function() {
            localStorage.removeItem('config');
            $('#id_commands').val(''); // Clear the input field
            checkFormValidity();
        });

        // Toggle visibility of input fields based on selected option
        $('#id_command_or_file').change(function() {
            var selectedOption = $(this).val();
            if (selectedOption === 'command') {
                $('#id_commands').show().prev('label').show(); // Show the label for Commands
                $('#id_config_file').hide().prev('label').hide(); // Hide the label for Configuration File
            } else if (selectedOption === 'file') {
                $('#id_commands').hide().prev('label').hide(); // Hide the label for Commands
                $('#id_config_file').show().prev('label').show(); // Show the label for Configuration File
            }
            checkFormValidity();
        }).change(); // Trigger the change event initially

        // Clear localStorage when the form is submitted
        $('#configForm').on('submit', function() {
            localStorage.removeItem('config');
        });

        // Initial check for form validity
        checkFormValidity();
    });
</script>
{% endblock content %}