{% block content %}
  <h2></h2>
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset Complete</title>
        <!-- Bootstrap CSS -->
        {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"> {% endcomment %}
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />
        <link rel="shortcut icon" href="{% static "/image/dice.png" %}" type="image/x-icon">
        
        <!-- Google Material Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
        /* Custom styles for the signup form */
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 500px;
            margin-top: 100px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
      
        .btn {
            width: 100%;
        }
        
     
    </style>
</head>
<body>
    <div class="container">
        <h1>Password Reset Complete</h1>
        <p>Your password has been set. You can now <a href="{% url 'login' %}">log in</a>.</p>

    </div>
</body>
</html>
